.main-explore{
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.explore-button-content{
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.explorar-button{
  font-size: 24px;
  background-color: var(--bg-light);
  border: 2px solid var(--bs-color02);
  border-radius: 1em;
  color: var(--bs-text01);
  box-shadow: 1px 4px 10px rgb(114, 114, 114);
  margin: 30px 10px;
  padding: 10px;
}

.explore-ingcard-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.explore-ing-card{
  background-color: var(--bg-light);
  border: 2px solid var(--bs-color02);
  border-radius: 1.2em;
  color: var(--bs-text01);
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 7px;
  box-shadow: 1px 4px 10px rgb(114, 114, 114);
  margin: 10px auto;
  align-items: center;
  justify-content: space-between;
}

.ingr-name{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.select-nationality{
  color: var(--bs-text01);
  background-color: var(--bg-light);
  width: 60%;
  margin: 10px auto;
  font-size: 22px;
  padding: 3px;
  border-radius: 1em;
}