.mainHeader {
  background-color: var(--bs-color01);
  border-bottom: 3px solid var(--bs-color04);
  display: flex;
  flex-direction: row;
  /* gap: 100px; */
  /* height: 60px; */
}

.header-title {
  color: var(--bs-text02);
  font-family: Hurricane , cursive;
  font-size: 50px;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
}

.header-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile-icon {
  background-color: var(--bs-text02);

  /* border: 1.5px solid  var(--bs-text01); */
  border-radius: 50%;
  box-shadow: 1px 3px 8px rgb(77, 75, 75);
  height: 40px;
  padding: 5px;
  width: 40px;
}

.profile-icon:active {
  box-shadow: none;
}

.search-button {
  background-color: var(--bs-text02);
  border: none;
  border-radius: 50%;
  box-shadow: 1px 3px 8px rgb(77, 75, 75);
  height: 40px;
  width: 40px;
}

.search-button:active {
  box-shadow: none;
}
