.mainLogin {
  background-color: var(--bg-light);
}

#loginTitle{
  color: var(--bs-text01);
  font-size: 30px;
}

.formControl {
  display: flex;
  flex-direction: column;
}

.loginButton {
  align-self: center;
  background-color: var(--bs-color03);
  border: none;
  border-radius: 7px;
  box-shadow: 1px 4px 4px rgb(82, 82, 82);
  color: var(--bs-text02);
  font-weight: 600;
  padding: 5px;
  width: 100px;
}

.loginButton:disabled {
  opacity: 0.4;
}

/* .loginButton:hover {
  background-color: var(--bs-color04);
} */

.loginButton:active {
  box-shadow: 0px 2px 4px rgb(82, 82, 82);
  padding-top: 6px;
}
