.btn-group{
  display: flex;
  flex-wrap: wrap;
}

.btn-primary{
  align-items: center;
  background-color: var(--bg-light);
  border: 1.5px solid var(--bs-color02);
  border-radius: 5% !important;
  color: var(--bs-text01);
  display: flex;
  justify-content: center;
  margin-right: 5px;
  margin-top: 15px;
  padding: 5px;
  width: 90px;
}

.btn-primary:hover{
  background-color: var(--bs-color01) !important;
  border: 1.5px solid var(--bs-color02) !important;
  border-color: none !important;
}

.focus{
  background-color: var(--bs-color01) !important;
  border: 1.5px solid var(--bs-color02) !important;
  border-color: none !important;
}

.category-buttons{
  background: var(--bs-color02);
  height: 120px;
  padding: 5px;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
}

.main-card {
  width: 150px;
  margin: 15px;
  background: var(--bs-color04);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 210px;
  box-shadow: 4px 4px 4px #686767;
}

.main-card-img {
  width: 140px;
  align-self: center;
  border-radius: 5px;
}

.main-card-title {
  font-size: 20px;
  color: var(--bs-text01);
}

.drinks {
  height: 170px;
}