.mainRecipe{
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-photo{
  width: 80%;
  margin: 5% 10%;
  border: 2px solid var(--bs-color01);
  border-radius: 5%;
}

.title-content {
  width: 90%;
  margin: auto;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-title{
  color: var(--bs-color01);
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  max-width: 60%;
  word-wrap: break-word;
}

.action-button {
  border: none;
  background-color: var(--bg-light);
}

.recipe-category{
  width: 90%;
  margin: auto;
  font-size: px;
  color: #747474;
  font-weight: bold;
}

.recipe-subtitle{
  font-size: 22px;
  color: var(--bs-text01);
  font-weight: bold;
  text-align: center;
  margin: 3% 3%;
}

.ingredient-list{
  width: 90%;
  margin: auto;
  line-height: 25px;
}

.instructions{
  width: 90%;
  margin: auto;
  text-align: justify;
}

.video-recipe{
  width: 90%;
  margin-left: 5%;
  border: 2px solid var(--bs-color01);
  border-radius: 5%;
}

.starButton{
  background-color: #55cfd6b7;
  color: var(--bs-text01);
  font-weight: bold;
}

.carousel{
  width: 95%;
  margin: 0px auto 10% auto;
}

@media screen and (min-width: 1200px) {
  .recipe-photo {
    max-width: 300px;
    align-self: center;
  }

  .title-content {
    width: 40%;
  }
  
  .recipe-title{
    font-size: 34px;
  }
  
  
  .recipe-category{
    width: 40%;
    font-size: 19px;
  }
  
  .recipe-subtitle{
    font-size: 22px;
    color: var(--bs-text01);
    font-weight: bold;
    text-align: center;
    margin: 3% 3%;
  }
  
  .ingredient-list{
    width: 50%;
    text-align: center;
  }
  
  .instructions{
    width: 50%;
    text-align: center;
  }
  
  .video-recipe{
    max-width: 500px;
    height: 400px;
    align-self: center;
    margin-left: 5%;
    border: 2px solid var(--bs-color01);
    border-radius: 5%;
  }
  
  .starButton{
    height: 80px;
    font-size: 30px;
  }
  
  .carousel{
    width: 75%;
    margin: 0px auto 10% auto;
  }
}