.search-content {
  background: var(--bs-color04);
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center;
  padding: 5%;
}

/* .search-input-group {
  margin-top: 20px;
} */

/* .search-input:focus {
  outline: none;
} */

#button-addon2 {
  background: var(--bs-color02);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 4px 4px rgb(82, 82, 82);
  color: var(--bs-text01);
  font-weight: 400;
}

#button-addon2:hover {
  background: var(--bs-color01);
  color: var(--bs-text02);
}

#button-addon2:active {
  box-shadow: none;
}

/* tentei fazer os botões do search bar diferentes dos filtros, mas a unica
forma que encontramos de contornar o bootstrape foi mudando  o componente do proprio
bootstrape, porem isso afetou todos os tooglebuttons que agora estão identicos. */
