@media ( max-width : 360 ) and ( max-height : 640 ) {

  body {
    align-items: center;
    justify-content: center;
  }
}

:root {

  --color-background-lightmode: #fceebf;

  --color-food-dark: #f1651d;

  --color-food-light: #fea360;

  --color-drink-dark: #0a97b7;

  --color-drink-light: #55cfd6;

  --color-dark-text: #444;

  --color-light-text: #f1f1f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--color-background-lightmode);
  height: 100%;
}

.background-light {
  background-color: var(--color-background-lightmode);
  background-size: cover;
}

.flex {
  display: flex;
}

.row-wrap {
  flex-flow: row wrap;
}

.space-around {
  justify-content: space-around;
}

.col {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.flex-wrap-row {
  flex-wrap: wrap row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.height-33 {
  height: 33.333%;
}

/* Formatação abaixo não foi modificada */
.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
